.headerStyle {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

/* body {
    font-family: 'Bree Serif', serif;
}
button {
    width: 150px;
    height: 30px;
    margin: 5px;
}
input[type=number], input[type=text], select {
  width: 200px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px;
}
input[type=submit] {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 7px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
input[type=submit]:hover {
  background-color: #f4511e;
}
select {
    width: 200px;
}
.accActivityDiv {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.container {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(145, 144, 144);
    margin: 10px;
    padding: 10px;
    width: 80%;
    background: white;
    color: black;
}
.showArea {
    border-bottom: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}
.showArea:hover {    
  background-color: rgb(230, 230, 230);
}
.showBalance, .showAccName {
    margin: 5px;
    width: 200px;
}
#accControllerArea {
    visibility: hidden;
    border: hidden;
    box-shadow: none;
    width: 700px;
}
#accDetailDiv {
    visibility: hidden;
}
#allAccDetailDiv {
    display: flex;
    justify-content: space-around;
     visibility: hidden; 
    height: 40px;
}
#allAccHeadingDiv {    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#allAccountDiv {
    width: 700px;
    min-height: 150px;
}
#bigContainer {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#showAllAccountDiv {
    height: 200px;
    overflow: auto;
} */