.components {
  height: 200px;
  margin: 10px;
  width: 200px;
}

.components:hover {
  filter: drop-shadow(0px 0px 10px #fbff00); 
}

.one {
  animation: roll 5s infinite;
  animation-direction: alternate;
}

.two {
  animation: roll 5s infinite;
  animation-delay: 0.5s;
  animation-direction: alternate;
}

.three {
  animation: roll 5s infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

.four {
  animation: roll 5s infinite;
  animation-delay: 1.5s;
  animation-direction: alternate;
}



@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
