body {
    font-family: 'Bree Serif', serif;
}

input[type=number], input[type=text], select {
  width: 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px;
}

input[type=submit] {
/* button { */
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 7px 5px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

select {
    width: 200px;
}

input[type=submit]:hover {
  background-color: #f4511e;
}

#bigContainer {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(145, 144, 144);
    margin: 5px;
    padding: 5px;
    width: 80%;
}

h3, h4 {
    /* border: 1px solid gray; */
    width: 350px;
    text-align: center;
}

#resultArea3 {
    color: red;
    height: 20px;
}

#resultArea3Title {
    
    height: 20px;
}

#resultArea1 {
    /* border: 1px solid gray; */
    width: 200px;
    color: red;
    font-size: 0.9em;
    text-align: center;
}

#resultArea2 {
    color: red;
    height: 20px;
    /* border: 1px solid gray; */
    width: 80%;
    text-align: center;
}

.grey_text {
    color: grey;
}

#flex {
    display: flex;     
    justify-content: space-around;
    /* display: flex;
    justify-content: center; */
}

#flex_center {
    
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    /* border: 1px dashed red; */
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* border: 1px dashed black; */
    width: 50%;
}

/* .border {    
    border: 1px dashed black;
} */
.center {

    padding: 10px;
    display: flex;
    justify-content: center;
}

#functionsArea {
    visibility: hidden;
    border: hidden;
    box-shadow: none;
    /* padding: 0px; */
    display: flex;
    justify-content: center;
}

#bigActivity {
    /* visibility: hidden; */
    /* display: flex; */
    margin-top: 20px;
    /* flex */
}


.showArea:hover {
    
  background-color: rgb(230, 230, 230);
}

#communityDetail {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

#communityArea {
    width: 850px;
    min-height: 150px;
    padding: 20px;
}

#history {    
    min-height: 150px;
}

#createAccount {
    width: 115px;
    padding: 10px;
}

#heading {    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.showCityName, .showLatitude, .showLongitude, .showPopulation {
    margin: 5px;
    width: 200px;
}

.titleTxt {
    width: 180px;
}

.titleText {
    width: 700px;
    border-bottom: 1px dashed  rgb(214, 214, 214);
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.showArea {
    border-bottom: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}

button {
    width: 150px;
    height: 30px;
    margin: 5px;
}

#bigShowArea {
    /* height: 200px; */
    /* overflow: auto; */
}

#map {
    margin: 10px 30px;
    /* align-content: center; */
        height: 400px;  /* The height is 400 pixels */
        width: 50%;  /*The width is the width of the web page*/
       }